<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
   <display-name>New Legal Archives</display-name>
   <!-- <welcome-file-list>
         <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>-->
   <filter>
      <filter-name>ssoFilter</filter-name>
      <filter-class>eng.la.presentation.servlet.filter.SSOAuthenticationFilter</filter-class>
   </filter>
   <filter>
      <filter-name>xssFilter</filter-name>
      <filter-class>eng.la.presentation.servlet.filter.xss.XSSFilter</filter-class>
      <init-param>
         <param-name>startXss</param-name>
         <param-value>on</param-value>
      </init-param>
      <init-param>
         <param-name>startLog</param-name>
         <param-value>on</param-value>
      </init-param>
   </filter>
   <filter-mapping>
      <filter-name>ssoFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>xssFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <!-- *** Engsecurity VA ******************************* -->
   <filter>
      <filter-name>ValidationFilter</filter-name>
      <filter-class>eng.la.util.va.xss.ValidationFilter</filter-class>
   </filter>
   <!-- **************************************************** -->
   <servlet>
      <servlet-name>dispatcher</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>*.action</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>/rest/**</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>downloadServlet</servlet-name>
      <servlet-class>eng.la.presentation.servlet.DownloadServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>downloadServlet</servlet-name>
      <url-pattern>/download</url-pattern>
   </servlet-mapping>
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-conf/applicationContext.xml</param-value>
   </context-param>
   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   <listener>
      <listener-class>eng.la.presentation.listener.WebSocketStartupListener</listener-class>
   </listener>
   <listener>
      <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
   </listener>
   <login-config>
		<auth-method>CLIENT-CERT</auth-method>
		<realm-name>myrealm</realm-name>
	</login-config>
	<!-- Configurazione nuovo SSO -->	
   <!-- <security-constraint>
      <web-resource-collection>
         <web-resource-name>SecurePages</web-resource-name>
         <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
         <role-name>authenticated-users</role-name>
      </auth-constraint>
   </security-constraint>
   <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>myrealm</realm-name>
   </login-config>
   <security-role>
      <description>Any User</description>
      <role-name>authenticated-users</role-name>
   </security-role>-->
   <!-- Fine configurazione nuovo SSO -->
   <error-page>
      <error-code>400</error-code>
      <location>/views/x-error/page-400-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>401</error-code>
      <location>/views/x-error/page-401-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>403</error-code>
      <location>/views/x-error/page-403-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>404</error-code>
      <location>/views/x-error/page-404-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>405</error-code>
      <location>/views/x-error/page-405-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>407</error-code>
      <location>/views/x-error/page-407-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>408</error-code>
      <location>/views/x-error/page-408-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>413</error-code>
      <location>/views/x-error/page-413-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>414</error-code>
      <location>/views/x-error/page-414-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>422</error-code>
      <location>/views/x-error/page-422-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>500</error-code>
      <location>/views/x-error/page-500-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>501</error-code>
      <location>/views/x-error/page-501-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>502</error-code>
      <location>/views/x-error/page-502-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>503</error-code>
      <location>/views/x-error/page-503-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>504</error-code>
      <location>/views/x-error/page-504-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>505</error-code>
      <location>/views/x-error/page-505-error.jsp</location>
   </error-page>
   <error-page>
      <error-code>509</error-code>
      <location>/views/x-error/page-509-error.jsp</location>
   </error-page>
   <error-page>
      <exception-type>java.lang.NumberFormatException</exception-type>
      <location>/views/x-error/generalexception.jsp</location>
   </error-page>
   <error-page>
      <exception-type>java.lang.Exception</exception-type>
      <location>/views/x-error/generalexception.jsp</location>
   </error-page>
   <error-page>
      <exception-type>java.lang.Throwable</exception-type>
      <location>/views/x-error/generalexception.jsp</location>
   </error-page>
</web-app>

