<html>
  <body>
    <table style="font-family: verdana, arial, helvetica; font-size: 14px; border: solid 3px #9BA580;" width="100%" border="0" height="180">
      <tr height="20">
        <td style="background-color: #86AE8A; color: #FFFFFF; text-align: center; font-size: 16px;">Legal - Richiesta trasformazione in Atto</td>
      </tr>
      <tr>
        <td style="padding-left: 15px; padding-right: 15px">
          E' stata richiesta la trasformazione in Atto della seguente email Pec:<br>
          L'utente richiedente &egrave;: ${newMessage.utenteRichiedente}<br>
          Il mittente &egrave: ${newMessage.mittentePec}<br>
          Il destinatario &egrave: ${newMessage.destinatarioPec}<br>
          L'oggetto &egrave: ${newMessage.oggettoPec}
        </td>
      </tr>
      <tr height="20"> 
        <td style="background-color: #86AE8A; color: #FFFFFF; text-align: center; font-size: 16px;">Legal</td>
      </tr>
    </table>
  </body>
</html>
